version: "3.9"

services:
    api:
        build:
            context: ./apps/api
            dockerfile: Dockerfile.api
        command: npm run dev
        ports:
            - "3000:3000"
        volumes:
            - ./apps/api:/usr/src/app
            - ./apps/api/data:/usr/src/app/data
            - /usr/src/app/node_modules
        depends_on:
            - postgres
            - redis
        environment:
            - POSTGRES_HOST=postgres
            - POSTGRES_PORT=5432
            - POSTGRES_USER=juez
            - POSTGRES_PASSWORD=juez
            - POSTGRES_DB=juez_db
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - GEMINI_API_KEY=AIzaSyC5Ek-xQDJBoKWjHYB9YhpxZzxqHW1fX-0
        networks:
            - judge_net
    postgres:
        image: postgres:16-alpine
        environment:
            POSTGRES_USER: juez
            POSTGRES_PASSWORD: juez
            POSTGRES_DB: juez_db
        ports:
            - "${POSTGRES_PORT:-5432}:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
            - ./apps/api/migrations:/docker-entrypoint-initdb.d
        networks:
            - judge_net

    redis:
        image: redis:7-alpine
        container_name: juez_redis
        restart: unless-stopped
        ports:
            - "${REDIS_PORT:-6379}:6379"
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            interval: 5s
            timeout: 3s
            retries: 30
        networks:
            - judge_net
    runner-python:
        build:
            context: ./apps/api/src/runners/python
        image: juez_runner_python:local

    runner-node:
        build:
            context: ./apps/api/src/runners/node
        image: juez_runner_node:local

    runner-cpp:
        build:
            context: ./apps/api/src/runners/cpp
        image: juez_runner_cpp:local

    runner-java:
        build:
            context: ./apps/api/src/runners/java
        image: juez_runner_java:local
    worker:
        build:
            context: ./apps/api
            dockerfile: Dockerfile.worker
        command: npm run worker
        volumes:
            - ./apps/api:/usr/src/app
            - /var/run/docker.sock:/var/run/docker.sock
            - ./apps/api/data:/usr/src/app/data
            - /usr/src/app/node_modules
        depends_on:
            - postgres
            - redis
        environment:
            - POSTGRES_HOST=postgres
            - POSTGRES_PORT=5432
            - POSTGRES_USER=juez
            - POSTGRES_PASSWORD=juez
            - POSTGRES_DB=juez_db
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - HOST_SUBMISSIONS_DIR=/home/azkalagon/2025_2_Proyects/Backend/juez-online/apps/api/src/core/Submission
        networks:
            - judge_net

volumes:
    pgdata:


networks:
    judge_net:
        driver: bridge
