.solver-container {
    display: flex;
    height: calc(100vh - 64px);
    /* Minus navbar */
}

.problem-description {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
}

.editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
}

.output-panel {
    height: 200px;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
}